<div class="container-fluid">
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
            <img src="../assets/sheet.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Sheet
        </a>
    </nav>

    <div class="row">
        <div class="col-md-auto">
            <div class="alert bg-light">
                {{board.cellAddress}}&nbsp;
            </div>
        </div>
        <div class="col">
            <div class="alert bg-light">
                {{board.cellFormula}}&nbsp;
            </div>
        </div>
    </div>
    <app-sheet [sheet]="board.activeSheet"></app-sheet>

    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="col-md-auto">
            <span class="btn btn-success" (click)="addSheet()">+</span>
        </div>
        <div class="col">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item" *ngFor="let sheet of board.sheets">
                    <a class="page-link" href="#" (click)="setActiveSheet(sheet.name)">{{sheet.name}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>