<div class="container-fluid">
    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
            <img src="../assets/sheet.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Sheet
        </a>
    </nav>

    <div class="row">
        <div class="col-md-auto">
            <div class="alert bg-light">
                A1
            </div>
        </div>
        <div class="col">
            <div class="alert bg-light">
                =1+2
            </div>
        </div>
    </div>
    <app-sheet></app-sheet>

    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="col">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">Sheet 1</a></li>
                <li class="page-item"><a class="page-link" href="#">Sheet 2</a></li>
                <li class="page-item"><a class="page-link" href="#">Sheet 3</a></li>
                <li class="page-item"><a class="page-link" href="#">Sheet 4</a></li>
                <li class="page-item"><a class="page-link" href="#">Sheet 5</a></li>
                <li class="page-item"><a class="page-link" href="#">Sheet 6</a></li>
                <li class="page-item"><a class="page-link" href="#">Sheet 7</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>