.table td{
    padding: 0px !important;
}
.cell-sheet{
    position: absolute;
    max-height: 75%;
    max-width: 99%;
    overflow-x: auto;
    overflow-y: auto;
}

.make-row-sticky{
    position: sticky;
    top:0px;
    
}

.make-col-sticky{
    position: sticky;
    left: 0px;
}
.corner{
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 9;
}
th{
    text-align: center;
}